
@model PFG.Inventory.Web.ViewModels.BasicSettingCapacityViewModels
@{
    //Layout = null;
}



<div class="form-group">
    @Html.LabelFor(x => x.ProductCode, new { @class = "control-label col-xs-12 col-sm-3 no-padding-right" })

    <div class="col-xs-12 col-sm-9">
        <span class="clearfix">
            @Html.TextBoxFor(x => x.ProductCode, new { @class = "col-xs-12 col-sm-5", @placeholder = "輸入 產品批號" })

        </span>
        @Html.ValidationMessageFor(x => x.ProductCode, "", new { @class = "help-block" })
    </div>

</div>
<div class="space-2"></div>
<div class="form-group">
    @Html.LabelFor(x => x.CapacityProduct, new { @class = "control-label col-xs-12 col-sm-3 no-padding-right" })

    <div class="col-xs-12 col-sm-9">
        <span class="clearfix">
            @Html.TextBoxFor(x => x.CapacityProduct, new { @class = "col-xs-12 col-sm-5", @placeholder = "輸入 產品體積"})

        </span>
        @Html.ValidationMessageFor(x => x.CapacityProduct, "", new { @class = "help-block" })
    </div>

</div>
<div class="space-2"></div>

<script type="text/javascript">

    $(function () {

        @*var successHanlder = function () {
            $('#showDialog').modal('hide');
            location.href = "@Url.Action("Index")";
        };*@

        $("#add-form").submit(Application.success, commonjs.formSubmitHandler);
        $(".btn-save").click(function () {
            $("#add-form").submit();
        });
    });
</script>