@model PFG.Inventory.Web.ViewModels.BasicSettingCapacityViewModels
@{
    Layout = null;
}
@if (Model.ProductCode != null)
{
    @Html.HiddenFor(x => x.ProductCode)
    <div class="form-group">
        @Html.LabelFor(x => x.ProductCode, new { @class = "col-sm-3 control-label no-padding-right" })

        <div class="col-sm-3 align-center middle">

            @Html.DisplayFor(x => x.ProductCode)
            
        </div>
    </div>
    <div class="space-2"></div>
    <div class="form-group">

        @Html.LabelFor(x => x.CapacityProduct, new { @class = "control-label col-xs-12 col-sm-3 no-padding-right" })

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                @Html.TextBoxFor(x => x.CapacityProduct, new { @class = "col-xs-12 col-sm-5", @placeholder = "輸入棧板數" })
                @*<i class="ace-icon fa fa-leaf green"></i>*@
            </div>
            @Html.ValidationMessageFor(x => x.CapacityProduct, "", new { @class = "help-block " })
        </div>
    </div>
    <div class="space-2"></div>
}
else
{

}
<script type="text/javascript">

    $(function () {
        $("#save-form").submit(Application.success,commonjs.formSubmitHandler);

        //$("#save-form").submit(commonjs.success, commonjs.formSubmitHandler);

        $(".btn-save").click(function (e) {
            $("#save-form").submit();
            e.preventDefault();
        });
    });
</script>
