@model PFG.Inventory.Web.ViewModels.BasicSettingWarehouseListViewModels

@{
    UserModel userModel = ViewBag.UserModel;
}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>外倉編號</th>
            <th>外倉名稱</th>
            <th>外倉總箱數</th>
            <th>庫位數</th>
            <th>動作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListViewModels != null && Model.ListViewModels.Count > 0)
        {
            foreach (var item in Model.ListViewModels)
            {
                <text>
                    <tr>
                        <td>@item.WarehouseID</td>
                        <td>@item.WarehouseName</td>
                        <td>@item.Capacity</td>
                        <td>@item.SumLocations</td>
                        <td>
                            <div class="action-buttons">
                                @if(userModel.Operation.HasFlag(EnumOperation.Edit))
                                { 
                                <a class="btn-edit green" href="@Url.Action("Edit", new { @id = item.WarehouseID })">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                }
                                @if(userModel.Operation.HasFlag(EnumOperation.Delete))
                                {
                                    <a class="btn-delete red" href="@Url.Action("Delete",new {@id=item.WarehouseID})">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                </text>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    查無資料
                </td>
            </tr>
        }
    </tbody>
</table>

